{% extends "base.html" %}

{% block info_content%}
{% endblock %}


{% block network_choice %}
<!-- network choice  -->
<form id="js-form">
    <div class="form-group">
        <select class="form-control form-control-lg" id="js-select-network" required>
            <option value="frcnn">Faster R-CNN</option>
            <option value="ssd" selected>SSD 512 - MobileNet</option>
            <option value="yolo">YOLOv3 - MobileNet</option>
        </select>
    </div>
</form>
{% endblock %}


{% block image_field %}
<video id="js-video" autoplay style="display: none"></video>
<canvas id="js-canvas" class="border">

</canvas>
{% endblock %}


{% block results_table %}
<table class="table" id="js-results-table">
    <thead>
        <tr>
            <th>
                Features
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Time
            </td>
            <td>
                3.01s
            </td>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>


<script>
    const classes = {
        'background': '#000000',
        'aeroplane': '#FF0000',
        'bicycle': '#FF4400',
        'bird': '#FF8900',
        'boat': '#FFC900',
        'bottle': '#F3FF00',
        'bus': '#AFFF00',
        'car': '#6BFF00',
        'cat': '#26FF00',
        'chair': '#00FF1A',
        'cow': '#00FF5E',
        'diningtable': '#00FFA2',
        'dog': '#00FFE6',
        'horse': '#00D5FF',
        'motorbike': '#0095FF',
        'person': '#0051FF',
        'pottedplant': '#000DFF',
        'sheep': '#3700FF',
        'sofa': '#7700FF',
        'train': '#BC00FF',
        'tvmonitor': '#FF00FF'
    };

    // Retrieve dynamic HTML elements
    const video = document.getElementById('js-video');
    const canvas = document.getElementById('js-canvas');
    const ctx = canvas.getContext('2d');
    const networkSelect = document.getElementById('js-select-network');
    const results = document.getElementById('js-results-table');
    let currentBoxes = [];
    let isWebcamAccepted = false;
    let isInDetection = false; // flag that indicates whether the socket is in detection
    const img = new Image();
    let network = networkSelect.options[networkSelect.selectedIndex].value; // the selected network

    // hidden canvas to encode frame of webcam in base64
    const hiddenCanvas = document.createElement('canvas');
    hiddenCanvas.width = 600;
    hiddenCanvas.height = 600;

    networkSelect.onchange = (ev) => {
        // Update network selected
        network = networkSelect.options[networkSelect.selectedIndex].value;
    }

    // Main loop
    function loop() {
        if (!isWebcamAccepted) return; // stop if nothing
        console.log('loop');

        // IF [there is no detection waiting]
        if (!isInDetection) {
            console.log('new img');

            // Keep current frame in memory
            hiddenCanvas.getContext('2d').drawImage(video, 0, 0);
            img.src = hiddenCanvas.toDataURL(); // keep the current image in memory (waiting for the detection)

            // Launch detection
            // send to server through websocket (choose network to use)
            let imgData = hiddenCanvas.toDataURL();
            switch (network) {
                case 'ssd':
                    socket.emit('detection', {
                        uri: imgData,
                        modelId: 0
                    });
                    break;
                case 'frcnn':
                    socket.emit('detection', {
                        uri: imgData,
                        modelId: 1
                    });
                    break;
                case 'yolo':
                    socket.emit('detection', {
                        uri: imgData,
                        modelId: 2
                    });
                    break;
                default:
                    console.log('Not implemented yet');
            }
            isInDetection = true;
        }

        requestAnimationFrame(loop);
    }

    // Callback when the server answers with the predicted bounding boxes. It draws the new detection
    socket.on('detected', (result) => {
        // reset canvas
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // draw image
        ctx.drawImage(img, 0, 0);

        // draw current bounding boxes
        for (const box of result.predictions) {
            ctx.beginPath();
            ctx.strokeStyle = box.class in classes ? classes[box.class] : 'black';
            ctx.fillStyle = box.class in classes ? classes[box.class] : 'black';
            ctx.rect(box.xmin, box.ymin, box.xmax - box.xmin, box.ymax - box.ymin);
            ctx.stroke();
            ctx.font = "20px Arial";
            ctx.fillText(box.class + ' - ' + box.score.toFixed(2), box.xmin, box.ymin + 15);
        }
        isInDetection = false;
    })

    // request access to webcam
    navigator.mediaDevices.getUserMedia({ video: { width: 600, height: 600 } }).then((stream) => {
        canvas.width = 600;
        canvas.height = 600;
        video.srcObject = stream;
        isWebcamAccepted = true;
        loop(); // launch loop
    });
</script>

{% endblock %}