{% extends "base.html" %}

{% block info_content%}
{% endblock %}


{% block network_choice %}
<!-- network choice  -->
<form id="js-form">
    <div class="form-group">
        <select class="form-control form-control-lg" id="js-select-network" required>
            <option value="feature-reweighting">Few-Shot Learning - Feature reweighting</option>
            <option value="mobilenet">Vanilla - Mobilenet</option>
            <option value="repmet">Few-shot Learning - Repmet</option>
        </select>
    </div>
    <div class="form-group">
        <input required type="file" class="form-control-file form-control-lg" id="js-image" accept="video/mp4,video/x-m4v,video/*"
            placeholder="Video to make detection">
    </div>

    <button type="submit" class="btn btn-primary">Detection</button>
</form>
{% endblock %}


{% block image_field %}
{% endblock %}


{% block results_table %}
<div id="js-video-container">

</div>
<script>
    const classes = {
        'background': '#000000',
        'aeroplane': '#FF0000',
        'bicycle': '#FF4400',
        'bird': '#FF8900',
        'boat': '#FFC900',
        'bottle': '#F3FF00',
        'bus': '#AFFF00',
        'car': '#6BFF00',
        'cat': '#26FF00',
        'chair': '#00FF1A',
        'cow': '#00FF5E',
        'diningtable': '#00FFA2',
        'dog': '#00FFE6',
        'horse': '#00D5FF',
        'motorbike': '#0095FF',
        'person': '#0051FF',
        'pottedplant': '#000DFF',
        'sheep': '#3700FF',
        'sofa': '#7700FF',
        'train': '#BC00FF',
        'tvmonitor': '#FF00FF'
    };

    // Retrieve dynamic HTML elements
    const container = document.getElementById('js-video-container');
    const fileInput = document.getElementById('js-image');
    const networkSelect = document.getElementById('js-select-network');
    const form = document.getElementById('js-form');
    let file = null;

    // Callback on image input "onchange" event in order to change canvas preview with new uploaded image
    fileInput.onchange = (e) => {
        file = e.target.files[0];
    }

    // Callback on submit to launch detection from server
    form.onsubmit = (e) => {
        e.preventDefault();
        if (!file) return;

        // upload the file (to detect)
        fetch('http://localhost:5000/video_detection', {
            method: 'POST',
            body: file
        }).then((resp) => {
            resp.json().then((value) => {
                // Create the video element to read the video
                var video = document.createElement('video');
                container.appendChild(video);
                video.src = 'http://localhost:5000/' + value.file;
                video.autoplay = true;
            })
        });
    }
</script>

{% endblock %}