<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PJS Detection Interface</title>

    <!-- styles -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <style>
        body {
            padding-top: 75px;
        }
    </style>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const socket = io('http://127.0.0.1:5000', {
            transports: ['websocket']
        });
        socket.on('connect', function () {
            socket.emit('json', { data: 'I\'m connected!' });
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        {% block menu_header %}
        <!-- Menu -->
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark fixed-top">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="{{ url_for('index') }}">PJS - Object detection interface</a>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="navbar-nav">
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('video_detection') }}">Video detection<span
                                        class="sr-only">(current)</span></a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('webcam_detection') }}">Webcam detection</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('image_detection') }}">Image detection</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('webcam_full') }}">Full webcam view</a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {% endblock %}
        {% block info_content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-4">
                {% block network_choice %}
                <!-- network choice  -->
                <div class="select">
                    <select class="form-control" id="js-select-network">
                        <option value="feature-reweighting">Few-Shot Learning - Feature reweighting</option>
                        <option value="mobilenet">Vanilla - Mobilenet</option>
                        <option value="repmet">Few-shot Learning - Repmet</option>
                    </select>
                </div>
                {% endblock %}
            </div>

            <div class="col-md-8">
                {% block image_field %}
                <img style="height: 512px" id="" src="../static/Auderghem.jpg" />
                {% endblock %}
            </div>
        </div>

        <br />
        <br />
        <br />

        <!-- Results table -->
        <div class="row" id="js-results-div">
            <div class="col-md-12">
                {% block results_table %}
                <table class="table" id="js-results-table">
                    <thead>
                        <tr>
                            <th>
                                Features
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Time
                            </td>
                            <td>
                                3.01s
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>